@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\000031}}
* {
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\000035}}
a:focus {
  outline: none;
  -moz-outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\000039}}
body {
  font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000317}}
.searchArea {
  padding: 15px 10px;
  width: 268px;
  position: absolute;
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000324}}
.searchArea .area1 input {
  border: 1px solid #3385ff;
  height: 40px;
  width: 210px;
  float: left;
  padding-left: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000331}}
.searchArea .area1 .searchBtn {
  background-color: #3385ff;
  border: 1px solid #3385ff;
  border-left: none;
  background-image: url(../../images/monitor/gis/search.png);
  background-repeat: no-repeat;
  background-position: 50%;
  width: 38px;
  height: 40px;
  vertical-align: middle;
   position: relative;
   top: 0;
   left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000343}}
.searchArea .area2 {
  display: none;
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000347}}
.searchArea .area2 ul {
  padding: 15px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000350}}
.searchArea .area2 ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000354}}
.searchArea .area2 ul li a {
  color: #676767;
  text-decoration: none;
  font-size: 12px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 20px;
  width: 100%;
  line-height: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000366}}
.searchArea .area2 ul li a:hover {
  background-color: #3385ff;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000373}}
.detection {
  position: absolute;
  top: 24px;
  right: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000378}}
.detectionAlarm {
  cursor: pointer;
  background-color: #ef6a6a;
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.2);
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 12px;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000389}}
.detectionShow {
  position: absolute;
  right: 0;
  top: 45px;
  background-color: #fff;
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.2);
  width: 350px;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\0000397}}
.detectionShow .table {
  width: 100%;
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003100}}
.detectionShow .table .thead {
  display: table-header-group;
  line-height: 38px;
  background-color: #f3f3f5;
  height: 38px;
  border-bottom: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003107}}
.detectionShow .table .tbody {
  display: table-row-group;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003110}}
.detectionShow .table .tr {
  width: 100%;
  display: table-row;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003113}}
.detectionShow .table .tr .th {
  display: table-cell;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003118}}
.detectionShow .table .tr .td {
  cursor: pointer;
  display: table-cell;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e9e7e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003125}}
.detectionShow .table .tr .td button {
  background-image: url(../../images/monitor/gis/xl.png);
  background-color: #fff;
  border: none;
  padding-left: 18px;
  width: 18px;
  height: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003133}}
.detectionShow .table .tr .td button[disabled] {
  background-image: url(../../images/monitor/gis/xy.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003137}}
.detectionShow .table .tr .th:nth-child(1), .detectionShow .table .tr .td:nth-child(1) {
  width: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003140}}
.detectionShow .table .tr .th:nth-child(2), .detectionShow .table .tr .td:nth-child(2) {
  width: 170px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003145}}
.detectionShow .table .tr .th:nth-child(3), .detectionShow .table .tr .td:nth-child(3) {
  width: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003148}}
.detectionShow .table .tr .th:nth-child(4), .detectionShow .table .tr .td:nth-child(4) {
  width: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003157}}
.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 52%;
  height: 100%;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003166}}
.header-top {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding-left: 20px;
  background-color: #F3F3F5;
  border-bottom: 1px solid #CCCCCC;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003173}}
.header-top h3 {
  position: relative;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003183}}
.header-top a.back-btn {
  display: block;
  float: left;
  width: 40px;
  height: 50px;
  margin-right: 15px;
  background: url("../../images/monitor/gis/back.png") no-repeat center left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003191}}
.header-top a.back-btn:hover {
  background: url("../../images/monitor/gis/back-hover.png") no-repeat center left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003195}}
.header-top a.iback-btn {
  display: block;
  float: left;
  width: 30px;
  height: 50px;
  margin-right: 15px;
  background: url("../../images/monitor/gis/inback.png") no-repeat center left;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003205}}
.header-top .header-right {
  position: relative;
  right: 0;
  height: 50px;
  top: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003209}}
.header-top .header-right a {
  display: inline-block;
  border: 1px solid #3385FF;
  width: 78px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #333;
  padding-left: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003220}}
.header-top .header-right a.alarm {
  background: url("../../images/monitor/gis/alarm.png") no-repeat 10px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003223}}
.header-top .header-right a.video {
  background: url("../../images/monitor/gis/video.png") no-repeat 10px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003226}}
.header-top .header-right a.data {
  background: url("../../images/monitor/gis/data.png") no-repeat 10px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003229}}
.header-top .header-right a.alarm.active {
  background: url("../../images/monitor/gis/alarmcur.png") no-repeat 10px 5px;
  background-color: #3385FF;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003234}}
.header-top .header-right a.video.active {
  background: url("../../images/monitor/gis/videocur.png") no-repeat 10px 5px;
  background-color: #3385FF;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003239}}
.header-top .header-right a.data.active {
  background: url("../../images/monitor/gis/datacur.png") no-repeat 10px 5px;
  background-color: #3385FF;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003249}}
.content {
  width: 100%;
  height: 400px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003255}}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003264}}
.info-item {
  padding: 0px 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003267}}
.info-item h4 {
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
  padding-left: 15px;
  border-left: 4px solid #478DE4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003278}}
.company-item .info-details {
  border-top: 1px solid #CDCECF;
  padding: 12px 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003282}}
.company-item .table {
  border: none;
  background-color: #fff;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003291}}
.alarm-item .left-part {
  float: left;
  width: 17%;
  height:192px;
  background-color:#f3f3f5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003295}}
.alarm-item .left-part .cur-alarm {
  background-image: url("../../images/monitor/gis/alarm-cur.png");
  background-repeat: no-repeat;
  background-position: center 30px;
  cursor:default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003300}}
.alarm-item .left-part .his-alarm {
  background-image: url("../../images/monitor/gis/alarm-his.png");
  background-repeat: no-repeat;
  background-position: center 30px;
  cursor:default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003306}}
.alarm-item .left-part a {
  display: block;
  width: 100%;
  height: 145px;
  padding-top: 100px;
  text-align: center;
  font-size: 14px;
  color: #333;
  background-color: #F3F3F5;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003319}}
.alarm-item .right-part {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003323}}
.alarm-item .right-part .right-row {
  border-top: 1px solid #CDCECF;
  border-bottom: 1px solid #CDCECF;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003329}}
.alarm-item .right-part .right-row .item {
  
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003333}}
.alarm-item .right-part .right-row .item p {
  padding-left: 35px;
}
.item .st,.item .nd{
	display:block;
	width:450px;
	margin-left:100px;
}
.item p {
	display:inline-block;
	width:160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003337}}
.alarm-item .right-part .right-row .item p.st, .alarm-item .right-part .right-row .item p.nd {
  padding-left: 35px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003341}}
.alarm-item .right-part .right-row .item p.st {
  background: url("../../images/monitor/gis/gz.png") no-repeat 10px top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003345}}
.alarm-item .right-part .right-row .item p.nd {
  background: url("../../images/monitor/gis/jcjk.png") no-repeat 10px top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003349}}
.alarm-item .right-part .right-row .item span.red-dis {
  color: #EB4848;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003359}}
.show {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 40px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003366}}
.show .left {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003368}}
.show .left .start {
  background: url("../../images/monitor/gis/start.png") no-repeat center;
  width: 40px;
  height: 40px;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003373}}
.show .left .start:hover, .show .left .start.active {
  background-color: #0377dc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003378}}
.show .right {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003380}}
.show .right .shot {
  background: url("../../images/monitor/gis/shot.png") no-repeat center;
  width: 40px;
  height: 40px;
  border: none;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003386}}
.show .right .shot:hover, .show .right .shot.active {
  background-color: #0377dc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003390}}
.show .right .record {
  background: url("../../images/monitor/gis/record.png") no-repeat center;
  width: 40px;
  height: 40px;
  border: none;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003396}}
.show .right .record:hover, .show .right .record.active {
  background-color: #0377dc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003400}}
.show .right .kz {
  background: url("../../images/monitor/gis/kz.png") no-repeat center;
  width: 40px;
  height: 40px;
  border: none;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003406}}
.show .right .kz:hover, .show .right .kz.active {
  background-color: #0377dc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003413}}
.vidCenter {
  position: relative;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003417}}
.videoFrm {
  background-color: #151515;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 181px;
  /*! 视频右侧按钮 */
  /*! 圆形按钮 */
  /*! 结束圆形按钮 */
  /*! 调焦按钮 */
  /*! 结束调焦按钮 */
  /*! 聚焦按钮 */
  /*! 结束聚焦按钮  */
  /*! 光圈按钮  */
  /* @-webkit-keyframes changePosition{
      0%{
          -webkit-transform: translate(-150px);
      }
      50%{
          -webkit-transform: translate(0);
      }
      100%{
          -webkit-transform: translate(150px);
      }
  } */
  /*! 结束光圈按钮  */
  /*! 结束视频右侧按钮 */
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003433}}
.videoFrm .btnArea {
  position: absolute;
  left:50%;
  top:50%;
  margin-top:-150px;
  margin-left:-80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003438}}
.videoFrm .btnContent {
  margin-top: 15px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003443}}
.videoFrm .btnContent .controlBg {
  position: relative;
  background-image: url(../../images/monitor/gis/video/ind_bg.png);
  width: 152px;
  height: 152px;
  padding-left: 152px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003450}}
.videoFrm .controlMiddle {
  position: absolute;
  left: 32px;
  top: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003455}}
.videoFrm .btn_closer, .videoFrm .btn_out {
  width: 88px;
  height: 44px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003460}}
.videoFrm .btn_closer {
  background-image: url(../../images/monitor/gis/video/btn_closer.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003463}}
.videoFrm .btn_closer:hover {
  background-image: url(../../images/monitor/gis/video/btn_closerHover.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003466}}
.videoFrm .btn_out {
  background-image: url(../../images/monitor/gis/video/btn_out.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003469}}
.videoFrm .btn_out:hover {
  background-image: url(../../images/monitor/gis/video/btn_outHover.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003472}}
.videoFrm .left, .videoFrm .right {
  height: 14px;
  position: absolute;
  top: 70px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003478}}
.videoFrm .left {
  background-image: url(../../images/monitor/gis/video/ind_left.png);
  width: 8px;
  left: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003483}}
.videoFrm .left:hover {
  background-image: url(../../images/monitor/gis/video/ind_leftCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003486}}
.videoFrm .right {
  background-image: url(../../images/monitor/gis/video/ind_right.png);
  width: 11px;
  right: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003491}}
.videoFrm .right:hover {
  background-image: url(../../images/monitor/gis/video/ind_rightCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003494}}
.videoFrm .leftUp, .videoFrm .rightUp, .videoFrm .leftDown, .videoFrm .rightDown {
  position: absolute;
  width: 11px;
  height: 11px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003500}}
.videoFrm .leftUp {
  background-image: url(../../images/monitor/gis/video/ind_leftUp.png);
  left: 26px;
  top: 34px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003505}}
.videoFrm .leftUp:hover {
  background-image: url(../../images/monitor/gis/video/ind_leftUpCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003508}}
.videoFrm .rightUp {
  background-image: url(../../images/monitor/gis/video/ind_rightUp.png);
  right: 24px;
  top: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003513}}
.videoFrm .rightUp:hover {
  background-image: url(../../images/monitor/gis/video/ind_rightUpCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003516}}
.videoFrm .indUp, .videoFrm .indDown {
  position: absolute;
  width: 14px;
  height: 8px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003522}}
.videoFrm .indUp {
  background-image: url(../../images/monitor/gis/video/ind_up.png);
  left: 68px;
  top: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003527}}
.videoFrm .indUp:hover {
  background-image: url(../../images/monitor/gis/video/ind_upCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003530}}
.videoFrm .leftDown {
  background-image: url(../../images/monitor/gis/video/ind_leftDown.png);
  left: 26px;
  bottom: 34px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003535}}
.videoFrm .leftDown:hover {
  background-image: url(../../images/monitor/gis/video/ind_leftDownCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003538}}
.videoFrm .rightDown {
  background-image: url(../../images/monitor/gis/video/ind_rightDown.png);
  right: 24px;
  bottom: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003543}}
.videoFrm .rightDown:hover {
  background-image: url(../../images/monitor/gis/video/ind_rightDownCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003546}}
.videoFrm .indDown {
  background-image: url(../../images/monitor/gis/video/ind_down.png);
  left: 68px;
  bottom: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003551}}
.videoFrm .indDown:hover {
  background-image: url(../../images/monitor/gis/video/ind_downCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003557}}
.videoFrm .btn_focus {
  background-image: url(../../images/monitor/gis/video/btn_focus.png);
  width: 72px;
  height: 27px;
  float: left;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003564}}
.videoFrm .btn_focus:hover {
  background-image: url(../../images/monitor/gis/video/btn_focusHover.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003567}}
.videoFrm .btn_focus.cur {
  background-image: url(../../images/monitor/gis/video/btn_focusCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003570}}
.videoFrm .btn_focusAdd {
  background-image: url(../../images/monitor/gis/video/btn_focusAdd.png);
  width: 71px;
  height: 27px;
  float: right;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003577}}
.videoFrm .btn_focusAdd:hover {
  background-image: url(../../images/monitor/gis/video/btn_focusAddHover.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003580}}
.videoFrm .btn_focusAdd.cur {
  background-image: url(../../images/monitor/gis/video/btn_focusAddCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003586}}
.videoFrm .btn_dodge {
  background-image: url(../../images/monitor/gis/video/btn_dodge.png);
  width: 72px;
  height: 27px;
  float: left;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003593}}
.videoFrm .btn_dodge:hover {
  background-image: url(../../images/monitor/gis/video/btn_dodgeHover.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003596}}
.videoFrm .btn_dodge.cur {
  background-image: url(../../images/monitor/gis/video/btn_dodgeCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003599}}
.videoFrm .btn_burn {
  background-image: url(../../images/monitor/gis/video/btn_burn.png);
  width: 71px;
  height: 27px;
  float: right;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003606}}
.videoFrm .btn_burn:hover {
  background-image: url(../../images/monitor/gis/video/btn_burnHover.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003609}}
.videoFrm .btn_burn.cur {
  background-image: url(../../images/monitor/gis/video/btn_burnCur.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003615}}
.videoFrm .sliderBg {
  position: relative;
  background-image: url(../../images/monitor/gis/video/ind_processbarBg.png);
  width: 163px;
  height: 27px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003621}}
.videoFrm .btn_minus, .videoFrm .btn_add {
  width: 27px;
  height: 27px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003626}}
.videoFrm .btn_minus {
  background-image: url(../../images/monitor/gis/video/btn_minus.png);
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003630}}
.videoFrm .btn_minus:hover {
  background-position: -54px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003633}}
.videoFrm .btn_add {
  background-image: url(../../images/monitor/gis/video/btn_add.png);
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003637}}
.videoFrm .btn_add:hover {
  background-position: -54px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003640}}
.videoFrm .ind_processbar {
  position: absolute;
  top: 12px;
  left: 30px;
  background-image: url(../../images/monitor/gis/video/ind_processbar.png);
  width: 101px;
  height: 5px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003649}}
.videoFrm .ind_processbar span {
  display: block;
  width: 0;
  height: 100%;
  border-radius: 3px;
  background: #3a9acd;
  -webkit-animation: changePosition 4s linear infinite;
}

/* 数据 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003675}}
.tab .tab_menu {
  width: 100%;
  background-color: #f3f3f5;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003681}}
.tab .tab_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003685}}
.tab .tab_menu ul li {
  display: block;
  float: left;
  padding: 0 20px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/svn\/\%CE\%E5\%CD\%A8\%C7\%C5\/html\/app\/styles\/gis20161110\.scss}line{font-family:\00003690}}
.tab .tab_menu ul li:hover, .tab .tab_menu ul li.selected {
  background-color: #478de4;
  color: #fff;
}
.nosp {
	background: #ccc url(../../images/monitor/gis/video/nosp.png) no-repeat center;
	width: 100%;
	height: 100%;
}

/*# sourceMappingURL=gis20161110.css.map */



/*# sourceMappingURL=gis.css.map */

.bubble {
	border-color: #ccc;
	background-color: #fff;
}
.bubbleTop {
	border-bottom-color: #ccc;
	background-color: #f9f9f9;
}
.bubbleContent {
	background-color: #fff;
}
.bubbleContent ul li a {
	color: #444444;
}
.bubbleContent ul li a img {
	border-color: #e6e6e6;
}
.bubbleContent ul li a:hover img {
	border-color: #4fbde9;
}

.popup-bubble {
	border-color: #ccc;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.popup-bubbleTop {
	border-bottom-color: #ccc;
	background-color: #209bdb;
	color: #fff;
}
.dyTable,.dyTable tr td {
	border-color: #ccc;
}
.popup-bubbleTop h3 {
	color: #000;
}
.popup-bubbleContent {
	background-color:rgba(255,255,255,.93);
}
em.popup-bot {
	border-color:rgba(137,175,202,.9) transparent transparent;
}
 em.popup-top {
	border-color:rgba(255,255,255,.99) transparent transparent;
}
.btnClose {
	background-image: url(../../../images/gis/blue/map/closeBtn.png);
}
.btnClose:hover {
	background-image: url(../../../images/gis/blue/map/closeBtnHover.png);
}

.popup-bubble {
	border-style: solid;
	border-width: 1px;
	position: relative;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.popup-bubbleTop {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	position: relative;
	overflow: hidden;
	height: 34px;
}
.popup-closeBtn {
	position: absolute;
	right: 12px;
	top: 12px;
	cursor: pointer;
}
.popup-bubleTitle {
	position: absolute;
	left: 12px;
	top: 8px;
}
.popup-bubbleContent {
	padding: 0;
}
.popup-bubbleContent p{
	line-height: 25px;
	margin-bottom: 0px;
	margin-top:0px;
}
.popup-bubble  em {
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	position:absolute;
	}
em.popup-bot {
    border-width:20px;
    border-style:solid dashed dashed;
    left:172px;
    bottom:-40px;
}
em.popup-top {
    border-width:20px;
    border-style:solid dashed dashed;
    left:172px;
    bottom:-39px;
}

.dyTable {
	border-width: 1px;
	border-style: solid;
	width: 100%;
}
.dyTable tr td {
	border-width: 1px;
	border-style: solid;
	padding: 3px;
}
@media (max-width: 700px) {
	.detection {
    position: absolute;
    top: 64px;
    left: 10px;
    right: 0;
    width: 120px;
}
.detectionShow {
    position: absolute;
    top: 45px;
    width: 300px;
    left: 0;
}
.wrapper {
	width: 100%;
}
.company-item .info-details {
    padding: 0;
}
}