a,a:focus {
	outline: none;
}

a.gn-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 54px;
	height: 55px;
	padding-left: 54px;
	z-index:99;
}
a.gn-icon span {
	display: block;
	height: 0;
	overflow: hidden;
	width: 0;
}
.gn-menu-wrapper {
	position: absolute;
	overflow: hidden;
	top: 48px;
	left: 0;
	width: 180px;
	height: auto;
    transform: translateX(-180px);
	transition: transform 0.3s ease 0s,width 0.3s ease 0s;
	font-size: 12px;
	z-index:99;
}
.gn-menu-wrapper.gn-open-all,.gn-menu-wrapper.gn-open-part {
	transform: translateX(0px);
}
.gn-menu-wrapper.gn-open-all {
	width: 180px;
}

.gn-scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.gn-scroller ul li {
	display: block;
	padding: 8px 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.gn-scroller ul li span {
	vertical-align: middle;
}
.gn-scroller ul li a {
	text-decoration: none;
}
.syqy,.zdwxy,.whpqy,.aqyh,.yjzy,.sgzczy,.cxtj,.kjfx,.scada,.xcgl {
	display: block;
	height: 27px;
	padding-left: 38px;
	background-repeat: no-repeat;
	line-height: 25px;
	margin-left: 11px;
}
ul.gn-submenu {
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: 8px;
	margin-top: 6px;
}
.display {
	display:block;
}
ul.gn-submenu li {
	display: block;
	border: none;
	padding: 0;
}
ul.gn-submenu li a {
	display: block;
	padding: 6px 0 6px 48px;
}
.subnav {
	height: auto;
    left: 190px;
    padding: 10px 18px 15px;
    position: absolute;
    top: 48px;
    width: 270px;
    z-index: 999;
    visibility:hidden;
}
.subnav2 {
	height: auto;
    left: 240px;
    padding: 10px 18px 15px;
    position: absolute;
    top: 48px;
    width: 270px;
    z-index: 999;
}
.subContent,.searchForm {
	position: relative;
	overflow: hidden;
	text-align: center;
}
.subTitle {
	font-size: 16px;
	line-height: 35px;
	text-align: center;
}
.inputSearch {
	border-style: solid;
	border-width: 1px;
	width: 100%;
	height: 25px;
}
.searchBtn {
	position: absolute;
	top: 2px;
	right: 12px;
	width: 20px;
	height: 20px;
}
.searchTable {
	width: 100%;
	margin-top: 6px;
}
.searchTable thead tr th,.searchTable tbody tr td {
	text-align: center;
	line-height: 35px;
}
.searchTable thead tr th {
	line-height: 30px;
}
.searchTable thead tr th:first-child,.searchTable tbody tr td:first-child {
	width: 50px;	
}
.searchTable thead tr th:last-child,.searchTable tbody tr td:last-child {
	width: 184px;
}
.searchTable tbody tr td {
	line-height: 32px;
}
.searchTable thead {
	display: block;
}
.searchTable tbody {
	width: 234px;
	display: block;
	height: 202px;
	overflow: auto;
}
.divRight {
	position: absolute;
	top: 48px;
	right: 40px;
}
.btn {
	border-radius: 0px;
	width: 120px;
}
.btnClose {
	width: 9px;
	height: 9px;
	padding-left: 9px;
}
.dropdown-menu {
	border-radius: 0;
	width: 140px;
}
.picAll {
	background-repeat: no-repeat;
    position: absolute;
    height: 24px;
    right: 16px;
    margin-top: 55px;
    padding-left: 24px;
    width: 24px;
    cursor: pointer;
    z-index: 99;
}
.btnClass {
	position: absolute;
    right: 12px;
    top: 142px;
    width: 30px;
}
.btnTop {
	top: 236px;
}
.btnClass ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;	
}
.btnClass ul li {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 35px
}
.addBtn,.delBtn {
	width: 17px;
	padding-left: 17px;
	background-repeat: no-repeat;
}
.addBtn {
	height: 17px;
}
.delBtn {
	height: 5px;
	background-position: 50% center;
}
.home,.eye,.rule,.tuli,.pic,.area {
	width: 21px;
	height: 22px;
	padding-bottom: 6px;
	padding-left: 21px;
	background-repeat: no-repeat;
}
.home,.rule {
	padding-left: 23px;
}
.p {
	padding-bottom: 6px;
}
.dyTable {
	border-width: 1px;
	border-style: solid;
	width: 100%;
}
.dyTable tr td {
	border-width: 1px;
	border-style: solid;
	padding: 3px;
}
.special {
	padding: 3px 6px;
	position: absolute;
	bottom: 12px;
	right: 40px;
}
.special a {
	text-decoration: none;
}
.ball {
	width: 15px;
	height: 16px;
	padding-left: 20px;
	background-repeat: no-repeat;
}
.downTriangle {
	width: 14px;
	height: 13px;
	padding-left: 16px;
	margin-left: 15px;
	background-repeat: no-repeat;
}
.carousel {
	bottom: 42px;
    overflow: hidden;
    padding: 12px;
    position: absolute;
    right: 0;
    visibility:hidden;
    display:block;
}
.prev-bnt,.next-bnt {
	width: 14px;
	height: 19px;
	padding-left: 16px;
	padding-bottom: 3px;
	position: absolute;
	top: 48px;
}
.prev-bnt {
	left: 8px;
}
.next-bnt {
	right: 8px;
}
.focus-img-con{
	position: relative;
	height: 88px;
	overflow: hidden;
	margin-left: 22px;
	margin-right: 22px;
}

.focus-img-con ul{
	position: absolute;
	top: 0;
	list-style: none;
	padding: 0;
}
.focus-img-con ul li{
	text-align: center;
	padding-right: 5px;
	float: left;
}

a.srcImg {
	overflow: hidden;
    position: relative;
}
a.srcImg img {
	border-style: solid;
	border-width: 1px;
}
a.srcImg span {
	position: absolute;
	left: 0;
	bottom: -36px;
	width: 100%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.srcImg span i {
	width: 15px;
	height: 12px;
	padding-left: 28px;
	background-repeat: no-repeat;
	background-position:  50% 80%;
}


/*气泡*/
.bubble {
	border-style: solid;
	border-width: 1px;
	position: relative;
	display: none;
}
.bubbleTop {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	position: relative;
	overflow: hidden;
	height: 33px;
}
.closeBtn {
	position: absolute;
	right: 8px;
	top: 6px;
	cursor: pointer;
}
.bubleTitle {
	position: absolute;
	left: 12px;
	top: 6px;
}
.bubbleContent {
	padding: 12px;
	overflow: hidden;
	width: 100%;
}

.bubble  em {
	width:0; 
	height:0; 
	font-size:0; 
	overflow:hidden; 
	position:absolute;
	}
.bubble  em.bot {
    border-width:20px; 
    border-style: dashed dashed dashed solid; 
    border-color: transparent  transparent transparent #ccc; 
    right:-40px; 
    top:20%;
}
.bubble em.top {
    border-width:20px; 
    border-style: dashed dashed dashed solid; 
    border-color: transparent transparent transparent #ffffff; 
    right:-39px; 
    top: 20%;
}
.bubbleContent ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.bubbleContent ul li {
	float: left;
    display: block;
    padding: 5px;
    text-align: center;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bubbleContent ul li a {
	text-decoration: none;
}
.bubbleContent ul li a img {
	border-style: solid;
    border-width: 1px;
    padding: 2px;
} 


/*气泡*/

.popup-bubble {
	border-style: solid;
	border-width: 1px;
	position: relative;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.popup-bubbleTop {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	position: relative;
	overflow: hidden;
	height: 36px;
	display:none;
}
.popup-closeBtn {
	position: absolute;
	right: 12px;
	top: 12px;
	cursor: pointer;
}
.popup-bubleTitle {
	position: absolute;
	left: 12px;
	top: 8px;
}
.popup-bubbleContent {
	overflow: hidden;
}
.popup-bubbleContent p{
	line-height: 25px;
	margin-bottom: 0px;
	margin-top:0px;
}
.popup-bubble  em {
	width:0; 
	height:0; 
	font-size:0; 
	overflow:hidden; 
	position:absolute;
	}
em.popup-bot {
    border-width:20px; 
    border-style:solid dashed dashed; 
    left:155px; 
    bottom:-40px;
}
em.popup-top {
    border-width:20px; 
    border-style:solid dashed dashed; 
    left:155px; 
    bottom:-39px;
}

#super3D {
	position: absolute;
	top: 470px;
	right: 50px;
	display: inline-block;
	width: 84px;
	height: 58px;
	border:none;
	background: url("../../images/gis/v3d/2D.png") top left no-repeat;
	z-index: 999;
}